#UE03 - SPARQL Query

Please complete the 10 tasks in the `2. SPARQL` sheet of `SemAI.jar` first, and then transfer the task descriptions and your solutiosn in executable form to this notebook.

## Preparation

Reuse imports and functions from https://github.com/jku-win-dke/SemAI/blob/main/V02_SPARQL.ipynb and load the solar system graph. Query the solar system graph to check that everything works fine.

In [134]:
# Install required packages
!pip install -q rdflib

# Imports
import pandas as pd
from rdflib import Graph, Literal, RDF, URIRef, BNode, Namespace
from rdflib.namespace import FOAF , XSD , RDFS, NamespaceManager 

# Convenient Functions
def sparql_select(graph,query,use_prefixes=True):
  results = graph.query(query)          # execute the query against the graph, resulting in a rdflib.plugins.sparql.processor.SPARQLResult
  rows = []                             # a list of dictionaries, as intermediate format to construct the pandas DataFrame
  for result in results:                # iterate over the result set of the query, a result is an instance of rdflib.query.ResultRow
    row = {}                            #     create a dictionary to hold a single row of the result
    for var in results.vars:            #     iterate over the variables of the SPARQLResult to add a dictionary entry for each variable
      if (isinstance(result[var],URIRef) and use_prefixes):
        row[var] = result[var].n3(graph.namespace_manager)   # use namespace prefixes to shorten URIs
      else:
        row[var] = result[var]                  
    rows.append(row)                    #     add the dictionary (row) to the list 
  return pd.DataFrame(rows,columns=results.vars)        
                                        # return a pandas DataFrame constructed from the list of dictionaries, with the variables from the result set as columns      

def sparql_construct(graph, query):
  result_graph = Graph(namespace_manager = g.namespace_manager)  # create a Graph object that reuses the namespace prefixes of the original graph
  result_graph += graph.query(query)                             # execute the construct query against the original graph and add the resulting graph to the new one
  return result_graph

def sparql_ask(graph, query):
  return bool(graph.query(query))      # an ASK query has a boolean result, which should be returned as such

# Load solar system graph
g = Graph()
g.parse("https://raw.githubusercontent.com/jku-win-dke/SemAI/main/data/solarsystem.ttl",format="turtle")

# Query solar system graph (to check that everything works fine)
df = sparql_select(g,"""
  SELECT ?planet ?apoapsis ?apoapsis_uom
  WHERE { 
    ?planet rdf:type dbo:Planet . 
    OPTIONAL { ?planet v:apoapsis [rdf:value ?apoapsis ; v:uom ?apoapsis_uom ].  }
  }
""")
df

     planet   apoapsis apoapsis_uom
0  :Mercury      0.467      unit:AU
1    :Venus      0.728      unit:AU
2    :Earth      1.017      unit:AU
3    :Earth  149597871      unit:KM
4     :Mars      1.666      unit:AU
5  :Jupiter     5.4588      unit:AU
6   :Saturn     9.0412      unit:AU
7   :Uranus      20.11      unit:AU
8  :Neptune      30.33      unit:AU


## Task 1 (1 pt)

*TODO: add task description*

In [135]:
# TODO: include and execute the query, display the result

## Task 2 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 3 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 4 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 5 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 6 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 7 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 8 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 9 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result

## Task 10 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result